server:
  port: 8080
#信号接口
io:
  #信号输入"/dev/ttyAMA0"
  inCom: "/dev/ttyAMA0"
  #信号输出"/dev/ttyUSB0"
  outCom: "/dev/ttyUSB0"
spring:
  thymeleaf:
    enabled: true  #开启thymeleaf视图解析
    encoding: utf-8  #编码
    prefix: classpath:/templates/  #前缀
    cache: false  #是否使用缓存
    mode: HTML  #严格的HTML语法模式
    suffix: .html  #后缀名
  #sqlite连接
  datasource:
    url: jdbc:sqlite:C:/sqlite/piHome.db
    driver-class-name: org.sqlite.JDBC

# MyBatis配置
mybatis:
  mapper-locations: classpath*:io/parcelx/**/mapper/xml/**.xml
  type-aliases-package: io.parcelx
  configuration:
    use-generated-keys: true
    map-underscore-to-camel-case: true
